@model SGPI.Models.TblUsuario
@{
    ViewData["Title"] = "BuscarUsuario";
    Layout = "_LayoutSGPI";
}

    <h1>Buscar Usuario</h1>
    <br>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark justify-content-center">
        <b>
            <ul class="navbar-nav navbar-center">
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/CrearUsuario">CREAR USUARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/BuscarUsuario">BUSCAR USUARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/EliminarUsuario">ELIMINAR USUARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/ModificarUsuario">MODIFICAR USUARIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Administrador/ReporteUsu">REPORTES</a>
                </li>
            </ul>
        </b>
    </nav>
    <br>
    <div style="text-align:right">
        <a href="/Administrador/Login" id="regresar">Cerrar sesion</a>
    </div>
    <div class="tab-content">
        <form method="post">
            <br>
            <b><label for="buscarUsutxt">Buscar usuario: </label></b>
            <div class="input-group">
                <input asp-for="NumeroDocumento" type="text" placeholder="Buscar Usuario" class="form-control col-sm-5" id="busquedaUsutxt" required /> 
                <input type="submit" class="btn btn-outline-primary" value="BUSCAR">
            </div>      
        @if (Model != null)
        {
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>@Html.DisplayNameFor(modelitem=>modelitem.NumeroDocumento)</th>
                        <th>@Html.DisplayNameFor(modelitem=>modelitem.PrimerNombre)</th>
                        <th>@Html.DisplayNameFor(modelitem=>modelitem.SegundoNombre)</th>
                        <th>@Html.DisplayNameFor(modelitem=>modelitem.PrimerApellido)</th>
                        <th>@Html.DisplayNameFor(modelitem=>modelitem.SegundoApellido)</th>
                        <th>@Html.DisplayNameFor(modelitem=>modelitem.Idrol)</th>
                        <th>@Html.DisplayNameFor(modelitem=>modelitem.Idgenero)</th>
                        <th>@Html.DisplayNameFor(modelitem=>modelitem.Idprograma)</th>
                        <th>@Html.DisplayNameFor(modelitem=>modelitem.Email)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <th>@Html.DisplayFor(modelitem=>modelitem.NumeroDocumento)</th>
                        <th>@Html.DisplayFor(modelitem=>modelitem.PrimerNombre)</th>
                        <th>@Html.DisplayFor(modelitem=>modelitem.SegundoNombre)</th>
                        <th>@Html.DisplayFor(modelitem=>modelitem.PrimerApellido)</th>
                        <th>@Html.DisplayFor(modelitem=>modelitem.SegundoApellido)</th>
                        <th>@Html.DisplayFor(modelitem=>modelitem.Idrol)</th>
                        <th>@Html.DisplayFor(modelitem=>modelitem.Idgenero)</th>
                        <th>@Html.DisplayFor(modelitem=>modelitem.Idprograma)</th>
                        <th>@Html.DisplayFor(modelitem=>modelitem.Email)</th>
                        <th>@Html.ActionLink("ModificarUsuario","ModificarUsuario", new {Idusuario=Model.Idusuario})</th>
                        <th>@Html.ActionLink("EliminarUsuario","EliminarUsuario", new {Idusuario=Model.Idusuario},
                        new {onclick="return confirm('¿Estas seguro de eliminarlo?');"})</th>
                    </tr>

                </tbody>
            </table>
        }
        else{
            <label> "Nose encontro el usuario"</label>
        }
        </form>
    </div>