@model SGPI.Models.TblUsuario
@{
    ViewData["Title"] = "CrearUsuario";
    Layout = "_LayoutSGPI";
}
<div class="container">
    <h1>CrearUsuario</h1>
    <br />
    <nav class="navbar navbar-expand-sm bg-success navbar-dark justify-content-center">
        <ul class="navbar-nav navbar-center">
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/CrearUsuario">CREAR USUARIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/BuscarUsuario">BUSCAR USUARIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/EliminarUsuario">ELIMINAR USUARIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Administrador/ModificarUsuario">MODIFICAR USUARIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Administrador/ReporteUsu">REPORTES</a>
            </li>
        </ul>
    </nav>

</div>
<div style="text-align:right">
    <a href="/Administrador/Login" id="regresar">Cerrar sesion</a>
</div>

<form method="post">
    <br>
    <div class="container tab-pane active">
        <div class="container-fluid cew-9">
            <div class="row">
                <div class="col">
                    <b><label for="tipo">Tipo de Documento</label></b>
                    <br>
                    @Html.DropDownList("Iddoc", new SelectList(ViewBag.TblTipoDocumento, "Iddoc","TipoDocumento"), new{@class="form-control dropdown"})

                    <b><label for="programa">Programa</label></b>
                    <br>
                    @Html.DropDownList("Idprograma", new SelectList(ViewBag.TblPrograma, "Idprograma","Programa"), new{@class="form-control dropdown"})
                </div>

                <div class="col">
                    <b><label for="rol">Rol</label></b>
                    <br>
                    @Html.DropDownList("Idrol", new SelectList(ViewBag.TblRol, "Idrol","Rol"), new{@class="form-control dropdown"})
                    <b><label for="genero">Genero</label></b>
                    @Html.DropDownList("Idgenero", new SelectList(ViewBag.TblGenero,"Idgenero","Genero"),new{@class="form-control dropdown"})
                </div>
            </div>
        </div>
        <div class="container">
            <br />
            <div class="row">
                <div class="col">
                    <input asp-for="NumeroDocumento" type="text" class="form-control" id="Document" placeholder="DOCUMENTO">
                </div>

                <div class="col">
                    <input asp-for="PrimerNombre" type="text" class="form-control" id="PRIMER_NOMBRE" placeholder="PRIMER NOMBRE">
                </div>

                <div class="col">
                    <input asp-for="SegundoNombre" type="text" class="form-control" id="Segundo_Nombre" placeholder="SEGUNDO NOMBRE">
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col">
                    <input asp-for="PrimerApellido" type="text" class="form-control" id="Primer_Apellido" placeholder="PRIMER APELLIDO">
                </div>
                <div class="col">
                    <input asp-for="SegundoApellido" type="text" class="form-control" id="SEGUNDO_APELLIDO" placeholder="SEGUNDO APELLIDO">
                </div>
                <div class="col">
                    <input asp-for="Email" type="text" class="form-control" id="email" placeholder="CORREO ELECTRONICO">
                </div>
            </div>
            <div class="form-group">
                <b><label for="passwordtxt">Contraseña</label></b>
                <input asp-for="VcPassword" type="password" class="form-control col-sm-4" id="passwordtxt" required />
            </div>
            <br />
            @if (ViewBag.mensaje != null)
            {
                <br />
                <div class="alert alert-success" role="alert">
                    @ViewBag.mensaje
                </div>
            }
            <br />
            <center> <input type="submit" id="btnCrear_Usuario" value="CREAR USUARIO" class="btn btn-success" /></center>
        </div>
    </div>
</form>